/ {
    chosen {
        zephyr,bt-uart = &usart1;
        zephyr,console = &usart2;
        zephyr,shell-uart = &usart2;
    };
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10 &usart1_cts_pa11 &usart1_rts_pa12>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <1000000>;
    hw-flow-control;
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <921600>;
};
